<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BankApplication</display-name>
	<filter>
		<description>
		</description>
		<display-name>ChangePasswordFilter</display-name>
		<filter-name>ChangePasswordFilter</filter-name>
		<filter-class>p1.ChangePasswordFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ResetpwdFilter</display-name>
		<filter-name>ResetpwdFilter</filter-name>
		<filter-class>p1.ResetpwdFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<servlet-name>ChangePassword</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResetpwdFilter</filter-name>
		<servlet-name>Resetpwd</servlet-name>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>p1.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>p1.Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>p1.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>p1.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetStatement</display-name>
		<servlet-name>GetStatement</servlet-name>
		<servlet-class>p1.GetStatement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>p1.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SendMail</display-name>
		<servlet-name>SendMail</servlet-name>
		<servlet-class>p1.SendMail</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Resetpwd</display-name>
		<servlet-name>Resetpwd</servlet-name>
		<servlet-class>p1.Resetpwd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStatement</servlet-name>
		<url-pattern>/GetStatement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMail</servlet-name>
		<url-pattern>/SendMail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resetpwd</servlet-name>
		<url-pattern>/Resetpwd</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
 